@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-image: url(imagens/itachi-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

header{
    background-image: linear-gradient(to bottom, black, rgb(97, 7, 7));
}

header > h1{
    text-align: center;
    padding-top: 50px;
    font-size: 3em;
    font-variant: small-caps;
    color: orange;
}

header > p{
    text-align: center;
    padding-bottom: 50px;
    font-size: 2em;
    color: goldenrod;
}

main{
    margin-top: 25px;
}

#img001{
    background-image: url(imagens/meio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
    height: 200px;
    width: 900px;
    margin: auto;
    margin-top: 15px;
    color: black;
    font-size: 1.5em;
    padding-left: 5px;
    padding-top: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
}

section > p{
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 10px;
    padding: 5px;
    color: rgb(255, 255, 255);
    max-width: 98vh;
    margin: auto;
    text-shadow: 2px 2px 2px red;
}

section > h2{
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
}

footer{
    background-color: black;
    padding: 5px;
    margin-top: 25px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: red;
    transition: 1s;
}